<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="container">
  <h1 class="my-3"><%= title %></h1>
  <%# This is where our message creation form will go %> 

  <h2 class="my-3">Board posts</h2>
  <%# This is where we'll loop over messages to display them %> 
  
</main>
<%- include('../partials/footer') %>